/* .box {
    border: 2px solid black;
    width: 50px;
    height: 50px;
} */

header {
    /* transform: translateY(); */
    width: 100%;
}

header .container-wrapper {
    background: white;
    border: 2px solid black;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    position: relative;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}
    .project-title {
        /* border: 2px solid red; */
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: auto;
        height: 100%;
        padding: 5px 10px;
    }
        .project-title i {
            font-size: 1.5em;
            padding-right: 5px;
        }
        .project-title h1 {
            font-family: 'Trenda-Heavy';
            font-size: 1.5em;
        }

    /* .navbar { */
        /* border: 2px solid green; */
    /* } */
        .navbar ul {
            display: flex;
            height: 100%;
        }
        .navbar li {
            /* display: flex; */
            height: 100%;
            cursor: pointer;
            display: table;
        }
            .navbar li:hover {
                background: #00843C;
            }
            .navbar li:active a {
                background: #00843C;
                color: white;
            }
        .navbar a {
            color: black;
            font-family: 'Trenda-Semibold';
            /* display: flex; */
            /* align-items: center; */
            display: table-cell;
            vertical-align: middle;
            height: 100%;
            padding: 0 20px;
        }
/*  */

footer {
    background: #00843C;
    width: 100%;
    margin-top: auto;
    /* color: white; */
}

footer .container-wrapper {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}
    .small-title a {
        cursor: alias;
        font-family: 'Trenda-Bold';
        color: white;
    }
    .small-title a:active {
        color: green;
    }
    .github-link {
        /* border: 2px solid gold; */
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
    }
        .github-link h4 {
            color: white;
        }
        img.github-project {
            border: 2px solid rgba(0, 0, 0, 0);
            border-radius: 1.5em;
        }
        img.github-project:hover {
            background: white;
            border: 2px solid white;
            border-radius: 1.5em;
        }
    .contribution-members {
        /* border: 2px solid blue; */
        width: 100%;
    }
        .contribution-members h5 {
            color: white;
            text-align: center;
        }
        .contribution-members nav {
            /* border: 2px solid lightblue; */
            width: 100%;
        }
            .contribution-members ul {
                display: flex;
                flex-flow: wrap;
                justify-content: space-evenly;
            }
            .contribution-members li {
                padding: 0 15px;
            }
            .contribution-members a {
                text-decoration: none;
                color: white;
            }
            .contribution-members a:hover {
                color: red;
            }
            .contribution-members a:active {
                color: blue;
            }
        .team-four {
            color: white;
        }
/*  */

/* @media screen and (max-width: 455px) { */
    /* header .container-wrapper { */
        /* justify-content: space-around; */
    /* } */
/* } */

@media screen and (max-width: 320px) {
    .project-title i {
        padding-right: 0;
    }
    .project-title h1 {
        display: none;
    }
}