/* 
- header : 2px (border)
- main : 71.67vh
*/

/* 
- whitesmoke
- white
- slategray
- gray
- black
- #f1f1f1
- #E8E8E8
- #adadad
- #77c7f8
- #24a0ed
- rgba(0, 0, 0, 0.7)
- red
- blue
- green
*/

@font-face {
    font-family: 'Trenda-Regular';
    src: url("../fonts/Trenda-Regular.otf")
         format("opentype");
}
@font-face {
    font-family: 'Trenda-Semibold';
    src: url("../fonts/Trenda-Semibold.otf")
         format("opentype");
}
@font-face {
    font-family: 'Trenda-Bold';
    src: url("../fonts/Trenda-Bold.otf")
         format("opentype");
}
@font-face {
    font-family: 'Trenda-Heavy';
    src: url("../fonts/Trenda-Heavy.otf")
         format("opentype");
}
@font-face {
    font-family: 'Trenda-Light';
    src: url("../fonts/Trenda-Light.otf")
         format("opentype");
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /* width: 100vw; */
    min-height: 100vh;
    /* border: 2px solid black; */
    font-family: 'Trenda-Regular', sans-serif;
    position: relative;
    display: flex;
    flex-flow: column;
}
