/* TODO:  *//* REVIEW:  *//* FIXME:  *//* SECTION:  *//* STUB:  *//* ANCHOR:  */
/* NOTE:  *//* *: *//* !: *//* ?: */

/* main { */
    /* min-height: 71.67vh; */
/* } */
main .container-wrapper {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}

.search-bar-content {
    background: white;
    /* border: 2px solid black; */
    /* display: flex; */
    max-width: 500px;
    margin: 0 auto;
}
    .search-form {
        background: none;
        border: 2px solid gray;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100%;
    }
        .search-form:hover {
            border: 2px solid #00843C;   
        }
        .search-input {
            border: none;
            text-align: center;
            font-size: 1.5em;
            width: 100%;
        }
        .search-btn {
            outline: none;
            cursor: pointer;
            border: none;
            background: gray;
            color: white;
            padding: 7px;
        }
            .search-btn:hover {
                background: #00843C;
            }
            .search-btn:active {
                background: gray;
            }
/* #srch-1 { */
    /* position: absolute; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* text-align: center; */
    /* border: 2px solid green; */
    /* width: 100%; */
    /* height: 100%; */
/* } */
#srch-2 {
    display: none;
}
.search-nav {
    display: none !important;
}
/*  */

.exit-btn {
    outline: none;
    cursor: pointer;
    border: none;
    background: none;
    color: black;
    font-size: 2em;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 9px;
}
    .exit-btn:hover {
        color: gray;
    }
    .exit-btn:active {
        color: black;
    }
.form-title {
    margin-bottom: 20px;
}
    .form-title h2 {
        font-family: "Trenda-Bold";
        font-size: 1em;
        padding-bottom: 5px;
    }
    .form-title p {
        font-family: "Trenda-Bold";
        font-size: 1.25em;
    }


    .input-container {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
    }
        .input {
            outline: none;
            background: none;
            border: none;
            color: black;
            font-size: 15px;
            width: 100%;
            height: 40px;
            padding: 0 5px;
        }
            .view-password {
                outline: none;
                cursor: pointer;
                background: none;
                border: none;
                /* border: 2px solid black; */
                font-size: 1.1em;
                position: absolute;
                bottom: 0;
                right: 0;
                /* height: 100%; */
            }
                .view-password:hover {
                    color: gray;
                }
                .view-password:active {
                    color: black;
                }
        .placeholder::before {
            content: attr(data-placeholder);
            color: #adadad;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            transition: 0.5s;
            /* z-index: -1; */
        }
        .placeholder::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background: black;
            transition: 0.5s;
        }
            .focus + .placeholder::before {
                top: -5px;
            }
            .focus + .placeholder::after {
                width: 100%;
            }
        .submit-btn {
            outline: none;
            cursor: pointer;
            background: #009eff;
            border: none;
            border-radius: 0.5em;
            color: white;
            font-family: 'Trenda-Bold';
            /* font-weight: 500; */
            letter-spacing: 0.2em;
            width: 100%;
            height: 50px;
            transition: 0.5s;
        }
            .submit-btn:hover {
                background: #38b1fc;
                color: black;
            }
            .submit-btn:active {
                background: #009eff;
                color: white;
            }
        .account-option {
            font-size: 14px;
            text-align: center;
            margin-top: 60px;
        }
        .guest-form {
            display: flex;
            justify-content: center;
        }
            .guest-btn {
                outline: none;
                cursor: pointer;
                border: none;
                background: #00843C;
                color: white;
                letter-spacing: 0.2em;
                width: 100%;
                padding: 5px 0;
                transition: 0.5s;
            }
                .guest-btn:hover {
                    background: #09ca60;
                    color: black;
                }
                .guest-btn:active {
                    background: #00843C;
                    color: white;
                }
/*  */
/*  */
                                            /* API style */
.reContainer {
    /* width: 80%;
    margin:0 auto; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    /* background-color:lightblue; */
}

.reContainer>div {
    margin: 10px auto;
    text-align: center;

}

.reContainer>div>img{
    cursor: pointer;
    border-radius: 5%;
    border:solid white;
    height: 300px;
    width: 300px;
    object-fit: cover;
}

.reContainer>div>p {
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reContainer>div{
    color:black;
    font-weight: bold;
    font-size: 1.15em;
    letter-spacing: 0.015em;

}

                                            /* welcome-part */
div.modal-account {
    background-image: url(../images/Account-Form-Background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

}
.account-content {
    background: #f1f1f1;
    /* border: 2px solid black; */
    border-radius: 10px;
    position: relative;
    max-width: 360px;
    max-height: 580px;
    margin: 80px auto;
    padding: 80px 40px;
}

                                            /* media query */

@media screen and (max-width: 619px){
    .reContainer {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .reContainer>div>img{
        border-radius: 5%;
        border:solid white;
        width: 100%;
    }
    .reContainer>div>p {
        min-width: 100%;
    }
    .reContainer>div {
        margin: 10px auto;
        text-align: center;
        width: 80%;
    }
}

/*  */
/*  */

.food-highlight {
    border: 2px solid black;
    height: 100%;
}
.food-highlight blockquote {
    text-align: center;
    font-size: 2.5em;
}
.food-container {
    border: 2px solid gray;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.img-container {
    border: 2px solid black;
    max-width: 500px;
    height: 100%;
}
.img-container img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.ingredients-recipe {
    border: 2px solid gray;
    display: flex;
    /* flex-flow: wrap; */
}
.ingredients {
    border: 2px solid black;
}
.ingredients ul {
    padding: 0 5px;
}
.recipe {
    border: 2px solid black;
}

/*  */

.active {
    display: flex !important;
}
@media screen and (min-width: 580px) {
    #srch-2 {
        display: none !important;
    }
}
@media screen and (max-width: 580px) {
    #srch-1 {
        display: none;
    }
    .navbar li {
        display: table !important;
    }
    .search-nav {
        display: table-cell !important;
    }
    .ingredients-recipe {
        flex-flow: wrap;
    }
    .ingredients ul li {
        display: inline;
        padding: 0 5px;
    }

}
