/* TODO:  *//* REVIEW:  *//* FIXME:  *//* SECTION:  *//* STUB:  *//* ANCHOR:  */
/* NOTE:  *//* *: *//* !: *//* ?: */

/* main { */
    /* min-height: 71.67vh; */
/* } */
main .container-wrapper {
    max-width: 960px;
    height: 100%;
    margin: 0 auto;
}

.search-bar-content {
    background: whitesmoke;
    border: 2px solid black;
    /* display: flex; */
    width: 100%;
}
    .search-form {
        background: none;
        border: 2px solid gray;
        /* text-align: center; */
        display: flex;
        justify-content: center;
        width: 100%;
    }
        .search-input {
            border: none;
            border-bottom: 5px solid rgb(144, 123, 112);
            text-align: center;
            font-size: 1.5em;
            width: 90%;
        }
        .search-btn {
            padding: 7px;
            cursor: pointer;
        }
        
    .exit-bar {
        /* border: 2px solid black; */
        position: absolute;
        top: 10px;
        left: 0;
        text-align: right;
        width: 100%;
    }
        .exit-btn {
            /* outline: none; */
            cursor: pointer;
            border: none;
            background: none;
            color: black;
            font-size: 2em;
            margin: 0 11px 0 0;
            padding: 0 7px;
        }
            .exit-btn:hover {
                color: gray;
            }
            .exit-btn:active {
                color: black;
            }
    .form-title {
        margin-bottom: 20px;
    }
    .form-title h2 {
        font-family: "Trenda-Bold";
        font-size: 1em;
        padding-bottom: 5px;
    }
    .form-title p {
        font-family: "Trenda-Bold";
        font-size: 1.25em;
    }


    .input-container {
        position: relative;
        border-bottom: 2px solid #adadad;
        margin: 30px 0;
    }
        .input {
            outline: none;
            background: none;
            border: none;
            color: black;
            font-size: 15px;
            width: 100%;
            height: 40px;
            padding: 0 5px;
        }
        /* .view-pass-bar {
            border: 2px solid black;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100%;
            text-align: right;
        } */
            .view-password {
                outline: none;
                cursor: pointer;
                background: none;
                border: none;
                /* border: 2px solid black; */
                font-size: 1.1em;
                position: absolute;
                bottom: 0;
                right: 0;
                /* height: 100%; */
            }
                .view-password:hover {
                    color: gray;
                }
                .view-password:active {
                    color: black;
                }
        .placeholder::before {
            content: attr(data-placeholder);
            color: #adadad;
            position: absolute;
            top: 50%;
            left: 5px;
            transform: translateY(-50%);
            transition: 0.5s;
            /* z-index: -1; */
        }
        .placeholder::after {
            content: '';
            position: absolute;
            width: 0%;
            height: 2px;
            background: black;
            transition: 0.5s;
        }
            .focus + .placeholder::before {
                top: -5px;
            }
            .focus + .placeholder::after {
                width: 100%;
            }
        .submit-btn {
            outline: none;
            cursor: pointer;
            background: #009eff;
            border: none;
            border-radius: 0.5em;
            color: white;
            /* font-family: 'Trenda-Bold'; */
            font-weight: 500;
            letter-spacing: 0.2em;
            width: 100%;
            height: 50px;
            transition: 0.5s;
        }
            .submit-btn:hover {
                background: #24a0ed;
                color: white;
            }
        .account-option {
            font-size: 14px;
            text-align: center;
            margin-top: 60px;
        }
        .guest-form {
            display: flex;
            justify-content: center;
        }
            .guest-btn {
                border: none;
                background: lightgray;
                width: 100%;
                padding: 5px;
            }
                .guest-btn:hover {
                    background: green;
                    color: white;
                }
/*  */

                                            /* API style */
.reContainer {
    /* width: 80%;
    margin:0 auto; */
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    /* background-color:lightblue; */
    background-image: url(../images/tileable_wood_texture_@2X.png);
}

.reContainer>div {
    margin: 10px auto;
    text-align: center;

}

.reContainer>div>img{
    border-radius: 5%;
    border:solid white;
}
/* .reContainerdivp{
    background-color:rgba(0, 0, 0, 0.228);  
} */

.reContainer>div>p>a{
    color:black;
    font-weight: bold;
    font-size: 1.15em;

}

.reContainer>div{
    color:black;
    font-weight: bold;
    font-size: 1.15em;
    letter-spacing: 0.015em;

}

                                            /* welcome-part */
div.modal-account {
    background-image: url(../images/gift_page_landing_bg_Mobile_Image.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 100%;

}
.account-content {
    background: #f1f1f1;
    /* border: 2px solid black; */
    border-radius: 10px;
    position: relative;
    max-width: 360px;
    max-height: 580px;
    margin: 80px auto;
    padding: 80px 40px;
}

                                            /* media query */

@media screen and (max-width: 619px){
    .reContainer {
        display: flex;
        align-content: center;
        flex-wrap: wrap;
    }
    .reContainer>div>img{
        border-radius: 20%;
        border:solid orange;
        width: 100%;
    }
    .reContainer>div {
        margin: 10px auto;
        text-align: center;
        width: 80%;
    
       
    }
    .search-input {
        border: none;
        border-bottom: 5px solid rgb(144, 123, 112);
        text-align: center;
        font-size: 1.5em;
        width: 90%;
        background-color:rgb(80, 83, 83);
        color:white;
    }


}